### HIII Birdie
![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK_RP5yEwtubD8wDhY2nS1GHRVPqDlNaE4TZ17M4y4y9ii3Iq8Iw&s)

##Lets put a link!!!
[site](https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjcpY-j7LHmAhXXzDgGHVsMCNUQjRx6BAgBEAQ&url=https%3A%2F%2Fthecreative.cafe%2Fwhy-you-suck-at-having-friends-748c2faa4331&psig=AOvVaw0uL3yTmvGsKlZwfDlpSQxf&ust=1576299723460308)

### Fundamental data types
 1. int
 2. float
 3. complex
 4. Boolean
 5. String

In [1]:
## Basic example

x=10
print(type(x))
print(x)

<class 'int'>
10

In [2]:
a=complex(5,4)
print(a)

(5+4j)

In [3]:
x=3+5j
y= 10.25
z=10
print(type(x), type(y), type(z));

<class 'complex'> <class 'float'> <class 'int'>

In [4]:
c1=5+6j
c2=10+10j
print("c1+c2=",c1+c2)

c1+c2= (15+16j)

In [8]:
print("enter a, b")
a=input('')
b=input('')
int(a)+int(b)

enter a, b
10
20

30

In [7]:
s1="abc"
s2="efg"
print(type(s1))
print(type(s2))
s1+s2

<class 'str'>
<class 'str'>

'abcefg'

In [6]:
a=10
b=5
a>b

True

In [14]:
## Data type conversions
i=100
print(type(i))
print(i)
s1=str(i)
print(type(s1))
print(s1)
f1=float(i)
print(type(f1))
print(f1)

<class 'int'>
100
<class 'str'>
100
<class 'float'>
100.0

In [15]:
s1 ="200"
print(type(s1))
b = int(s1)
print (type(b))
f=2.5
s=int(2.5)
print(type(s))
print(s)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [19]:
# a number is given 23456
# Digit Count
s = 23456
print(len(str(s)))

5

## Operators
 1. Arithmetic operators ------> +, -,
 2. Logical operators ------>
 3. Relational operators ------>
 4. Membership operators ------>

In [21]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b) #used for power
print(a//b) #float values dont come
print(a%b) #used for remainder

15
5
50
2.0
100000
2
0

In [23]:
# Relational Operator
x=30
y=10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [29]:
#Logical Operator
x=input()
y=input()
print(int(x)>=10 and int(y)<=20)
print(int(x)>=5 or int(y)<=20)
print(not int(x))

30
10
True
True
False

In [31]:
x=input()
print('a' in x)
print('a' not in x)

tree
False
True

## Conditional Statements
 1. if
 2. elif
 3. else
 
 Syntax
 - if condition
     - statements
 - elif condition
     - statements
 - else 
     - statments

In [40]:
a = int(input())
if a<10 :
 print("less")
elif a>10 and a<70 :
 print("middle")
else:
 print("more")

5
less

### Even Or Odd

In [43]:
print("enter a number")
n= int( input())
if n%2 ==0 :
    print("even")
else: 
    print("Odd")

enter a number
24
even

### Greater of 3 NUMBERS

In [44]:
print("enter a, b, c")
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else :
    print("C is greater")

enter a, b, c
12
34
13
B is greater

### Multiple of 3 and 5

In [48]:
print("enter a number")
a=int(input())
if a%3==0 and a%5==0:
    print("Multiple of 3 and 5")
elif a%3==0:
    print("Multiple of 3")
elif a%5==0:
    print("Multiple of 5")
else:
    print("not multiple")

enter a number
38
not multiple

### Positive, negative or zero

In [51]:
print("enter a number")
a=int(input())
if(a>0):
    print("Positive")
elif(a==0):
    print("Zero")
else:
    print("Negative")

enter a number
000
Zero

### Leap Year

In [53]:
print("enter a year")
a=int(input())
if(a%4==0):
    print("Leap Year")
else:
    print("Not a Leap Year")

enter a year
2015
Not a Leap Year

### Voting eligibilty

In [59]:
print("enter your age")
a=int(input())
if(a>=18):
    print("Eligible")
else:
    print("Not eligible :(")
    print("Better try after",18-a, "years")

enter your age
14
Not eligible :(
Better try after 4 years

In [60]:
a=input()
print("haii,""hello",a,"!!!")

world
haii,hello world !!!