### For Loops

In [2]:
for i in "gitam":
    print(i);

g
i
t
a
m

In [4]:
for i in range(5):
    print(i, end='\t');
# range(start, stop, step)
# range(stop)
# range(start, stop)

0	1	2	3	4

In [5]:
for i in range(1, 10, 2):
    print(i);

1
3
5
7
9

In [8]:
for i in range(-1, -10, -2):
    print(i);

-1
-3
-5
-7
-9

In [12]:
for i in range (2.0,5.0,1):
    print(float(i));

TypeError: 'float' object cannot be interpreted as an integer

### Divisible by 7 numbers

In [23]:
for i in range(23, 141, 1):
    if i%7==0:
           print(i, end="\t");

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

### Even numbers between 1 and 100

In [18]:
for i in range(2, 100, 2):
    print(i, end='\t');

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

## while syntax:
  #### initialization 
  ####  while condition: 
  #### statements
  #### increment / decrement(variable updation)

In [26]:
i=23
while i<=140:
    if i%7==0:
        print(i, end="\t")
    i=i+1

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

#### print the inputs taken till "done" is entered

In [30]:
n=input("Enter a number :")
while n!="done":
    print(n)
    n = input("Enter a number")

Enter a number :22
22
Enter a number57
57
Enter a number01
01
Enter a number19
19
Enter a number23
23
Enter a number65
65
Enter a number59
59
Enter a number36
36
Enter a numberdone

### Counting vowels or Consonants

In [35]:
word=input("enter a word")
count = 0;
for i in word:
    if i in "aeiouAEIOU":
        count=count+1
        #print(i)
print(count)

enter a wordlaa laaa laaa
8

In [39]:
word=input("enter a word")
count1 = 0;
count2 = 0;
for i in word:
    if i in "aeiouAEIOU":
        count1=count1+1
    else:
        count2=count2+1
        #print(i)
print("vowels =", count1, "conso =", count2)

enter a wordketaki
vowels = 3 conso = 3

### Check if Your name is lucky or not

In [43]:
word=input("enter a word")
count1 = 0;
count2 = 0;
for i in word:
    if i in "aeiouAEIOU":
        count1=count1+1
    else:
        count2=count2+1
        #print(i)
print("vowels =", count1, "conso =", count2)
if count1==count2:
    print("Lucky :) :)")
else:
    print("Unlucky :( :(")

enter a wordketaki
vowels = 3 conso = 3
Lucky :) :)

### Lists

In [44]:
marks = [34,67, 78, 89]
marks

[34, 67, 78, 89]

In [46]:
for i in marks:
    print(i);

34
67
78
89

In [48]:
# To access first element
print(marks[0])
# No of elements in the list
print(len(marks))
# To access the first element from last
print(marks[-1])
# To access first element
print(marks[-4])

34
4
89
34

In [49]:
# Updating the value in a List
marks[0]=100
print(marks)

[100, 67, 78, 89]

In [56]:
L = list(range(2,32,2))
L

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [61]:
# Slicing of a list[start:stop:step]

# Printing till 3
print(L[:3])
# Printing till 6 skiping 2
print(L[0:6:2])
# To get alternate elements from the start
print(l[0:len(L):2])
# To print in reverse
print(l[:6:-1])

[2, 4, 6]
[2, 6, 10]
[2, 6, 10, 14, 18, 22, 26, 30]
[30, 28, 26, 24, 22, 20, 18, 16]

In [81]:
# To insert a value 
print(marks)
marks.append(91)
print(marks)

[100, 68, 54, 98, 22, 35]
[100, 68, 54, 98, 22, 35, 91]

In [82]:
# To remove an element

# Last Element
print(marks)
marks.pop()
print(marks)

# Index Element
marks.pop(2)
print(marks)

[100, 68, 54, 98, 22, 35, 91]
[100, 68, 54, 98, 22, 35]
[100, 68, 98, 22, 35]

In [84]:
# Remove based on value
marks.remove(22)
print(marks)

[100, 68, 98, 35]

In [85]:
m1=(45, 48, 52, 64, 97, 98)
print(m1)

(45, 48, 52, 64, 97, 98)

In [87]:
# Concatenation of two lists
marks.extend(m1)
print(marks)

[100, 68, 98, 35, 45, 48, 52, 64, 97, 98, 45, 48, 52, 64, 97, 98]

In [88]:
# TO COUNT occurences
print(marks.count(98))

3

### User defined Functions

In [99]:
def Hello(name='cow'):
    print("welcome to Gitam", name)
    return 'hiiiii'

In [101]:
Hello("tree")

welcome to Gitam tree

'hiiiii'

In [102]:
Hello()

welcome to Gitam cow

'hiiiii'

### Math functions

In [103]:
def power(a,b):
    return a**b;

In [106]:
res=power(2,3)
print (res)

8