In [5]:
n = input()
count = 0
for i in n:
    count=count+1
print(count)

ketaki
6

### Topics
- Tuple
- Dictionary

In [6]:
empty = list()
empty1 = []

In [7]:
t = (1,2)
print(t)

(1, 2)

In [8]:
print(t[0])

1

In [10]:
t[0]= 10
print(t)

TypeError: 'tuple' object does not support item assignment

In [11]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [12]:
t.count(1)

1

In [14]:
t1 = (1,2,3,4,5,1,1)
print(t1.count(1))
print(t1.count(5))
print(sum(t1),max(t1),min(t1))

3
1
17 5 1

In [16]:
t2 = (34,'python', True, 89.5)
print(t2)
print(t2[0])
print(t2[1][1])
print(t2[2:])

(34, 'python', True, 89.5)
34
y
(True, 89.5)

In [19]:
t3= (3, 4,(34, 67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

### Creating a list of marks

In [21]:
marks=[[23,56,89],[45,56,76],[99,65,34]]
print(marks)

[[23, 56, 89], [45, 56, 76], [99, 65, 34]]

In [33]:
for i in range(len(marks)):
    print(sum(marks[i]))
    marks[i].append(sum(marks[i]))
    print(marks)

168
[[23, 56, 89, 168], [45, 56, 76], [99, 65, 34]]
177
[[23, 56, 89, 168], [45, 56, 76, 177], [99, 65, 34]]
198
[[23, 56, 89, 168], [45, 56, 76, 177], [99, 65, 34, 198]]

In [30]:
marks[0].pop()

168

In [36]:
trial=[2,3,6,6,5]
trial.remove(max(trial))

In [37]:
print(trial)

[2, 3, 6, 5]

### Dictionaries
- index is defined using key
- empty dictionary {} dict{}
- syntax: (key1:value

In [38]:
d={'maths': 56, 'english':67, 'phy':45}
d['maths']

56

In [40]:
d['physics']=77
d

{'maths': 56, 'english': 67, 'phy': 45, 'physics': 77}

In [41]:
# add a new item to dictionary
d['python']=78
d

{'maths': 56, 'english': 67, 'phy': 45, 'physics': 77, 'python': 78}

In [43]:
# Accessing the values using for loop
for i in d:
    print(d[i],end='\t')

56	67	45	77	78

In [44]:
s=0

for i in d:
    s+=d[i]
print(s)

323

In [45]:
# To access keys
print(d.keys())

# To access values
print(d.values())

# To access key value pairs
print(d.items()) # List of tuples each tuple is a key value pair

dict_keys(['maths', 'english', 'phy', 'physics', 'python'])
dict_values([56, 67, 45, 77, 78])
dict_items([('maths', 56), ('english', 67), ('phy', 45), ('physics', 77), ('python', 78)])

In [46]:
# To calculate the sum of the values in a dictionary
sum(d.values())

323

In [49]:
for key, value in d.items():
    print(key,':',value)

maths : 56
english : 67
phy : 45
physics : 77
python : 78

In [50]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'phy': 45, 'physics': 77, 'python': 78, 'total': 323}

In [51]:
# To remove an item
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'phy': 45, 'physics': 77, 'python': 78}

In [52]:
std={'Ram':[77,45,34], 'Sandy':[56,78,94], 'rose':[67,89,92]}
std

{'Ram': [77, 45, 34], 'Sandy': [56, 78, 94], 'rose': [67, 89, 92]}

In [53]:
std['Ram']

[77, 45, 34]

In [54]:
for k, v in std.items():
    std[k].append(sum(v))
std

{'Ram': [77, 45, 34, 156],
 'Sandy': [56, 78, 94, 228],
 'rose': [67, 89, 92, 248]}